body{
    background-color: rgb(48, 48, 48);
}

a,h2,title,body{
    color: white;
}



/* DOYI WORLD */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400&display=swap');

.container {
    margin: 3% 0%;
    display: block;
    text-align: center;
    vertical-align: middle;
}

.neon {
    font-family: 'Amatic SC', sans-serif;
    display: inline-block;
    margin-right: 25px;
    color: #FB4264;
    font-size: 8vw;
    line-height: 7vw;
    text-shadow: 0 0 3vw #F40A35;
}

.flux {
    font-family: 'Amatic SC', sans-serif;
    display: inline-block;
    color: #426DFB;
    font-size: 8vw;
    line-height: 5vw;
    text-shadow: 0 0 3vw #2356FF;
}

.neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}


@keyframes neon {

    0%,
    100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
        color: #FED128;
    }

    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}

.flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}

@keyframes flux {

    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
        color: #28D7FE;
    }

    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
        color: #146C80;
    }
}


/* nav + article */

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

.nav_article{
   display: flex;
   width: 65vw;
   margin: 5vw auto;
   border: 3px solid rgb(218, 255, 5);
   border-radius: 20%;
}


/* nav */
.nav_wrap{
    margin-top: 80px;
    /* background-color: #1041FF; */
    width: 30vw;
    /* border: 1px solid white; */
}

.nav{
    font:1rem/1.2rem 'Gothic A1',
        sans-serif;
    margin: 20px 10px 20px 30px;
}


/* ARTLCLE */
.article_wrap{
    display: inline-block;
    width: 70vw;
    height: 700px;
    /* background-color: #08801a; */
    border-left: 1px solid rgb(218, 255, 5);
    position: relative;
}


/* topics */
.content{
    margin: 70px 20px ;
    text-align: center;
    /* background-color: #800E0B; */
}

.content h2 {
    font: 1.8rem 'Gothic A1',
        sans-serif;
    margin-bottom: 30px;
}

.content p{
    line-height:1.5rem;
}



/* contextControl -> create, update, delete 3개 다 있음  */
.button_wrap{
    /* background-color: #fbf242;   */
    text-align: right;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.button_wrap>li {
    display: inline-block;
    margin-left: 20px;
}

.button_wrap>li>a{
    font: 1.5rem 'Gothic A1',
        sans-serif;
}


/* create, update form */

form{
    position: relative;
}


input {
    background-color: transparent;
    border: 1px solid white;
    color: #ffffff;
    font: 1rem 'Gothic A1',
        sans-serif;
    padding-left: 10px;
}

input::placeholder {
    color: #ffffff;
}

input:focus {
    outline: none;
}

textarea::placeholder {
    color: #ffffff;
}

textarea:focus {
    outline: none;
}

 
.submit>input{
    margin-top: 8px;
    position: absolute;
    right: 90px;
    font: 1rem 'Gothic A1',
     sans-serif;
    color: white;
    border: 1px solid white;
}

.submit>input:hover{
    cursor: pointer;
}


.title>input{
    width: 20vw;
    height: 50px;
    
}

.text>textarea{
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 20px;
    width: 30vw;
    height: 300px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font: 0.9rem/1.4rem 'Gothic A1',
        sans-serif;
}



/* delete */

.delete>input{
    color: white;
    border: 0;
    background-color: transparent;
    font: 1.5rem 'Gothic A1',
        sans-serif;
}

/* OPTIONAL / defining page color variables */
:root {
    --black: #000000;
    --grey1: #a3a3a3;
    --grey2: #383838;
    --white: #ffffff;
    --green: #62Ba9B;
}


/* 마우스커서 style*/


* {
    cursor: none;
}


.small {
    height: 10px;
    width: 10px;
    background-color: var(--green);
    border-radius: 10px;
    filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px var(--green));

    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: height 0.2s, width 0.2s;
}


.big {
    height: 50px;
    width: 50px;
    border: 3px solid var(--green);
    border-radius: 100px;
    filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px var(--green));

    position: fixed;
    pointer-events: none;
    transform: translate(calc(-50%), -50%);
    transition: height 0.5s, width 0.5s, filter 0.5s;
}




